import { h } from "preact";

import type { ScriptManager } from "game";

function Screen({ game }: { game: ScriptManager }) {
    return (
        <div>

        </div>
    );
}

export default Screen;
