{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,

    "importOrderSeparation": true,
    "importOrder": [
        "^preact",
        "^preact/(.*)$",
        "^@components/(.*)$",
        "^@screens/(.*)$",
        "^@ui/(.*)$",
        "^@type/(.*)$",
        "^@app/(.*)$",
        "^game",
        "^UnityEngine/(.*)$",
        "^onejs",
        "<THIRD_PARTY_MODULES>"
    ],

    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
