.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-1 {
  bottom: 4px
}

.right-0 {
  right: 0px
}

.mb-2 {
  margin-bottom: 8px
}

.mt-2 {
  margin-top: 8px
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-2 {
  height: 8px
}

.h-6 {
  height: 24px
}

.h-8 {
  height: 32px
}

.h-\[18px\] {
  height: 18px
}

.h-\[24px\] {
  height: 24px
}

.h-\[28px\] {
  height: 28px
}

.h-\[30px\] {
  height: 30px
}

.h-\[8px\] {
  height: 8px
}

.h-full {
  height: 100%
}

.w-16 {
  width: 64px
}

.w-6 {
  width: 24px
}

.w-8 {
  width: 32px
}

.w-\[18px\] {
  width: 18px
}

.w-\[24px\] {
  width: 24px
}

.w-\[28px\] {
  width: 28px
}

.w-\[500px\] {
  width: 500px
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.rounded-\[16px\] {
  border-radius: 16px
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 6px
}

.rounded-sm {
  border-radius: 2px
}

.border {
  border-width: 1px
}

.border-\[1px\] {
  border-width: 1px
}

.border-\[rgba\(255_255_255_0\.5\)\] {
  border-color: rgba(255 255 255 0.5)
}

.border-\[rgba\(255_255_255_0\.8\)\] {
  border-color: rgba(255 255 255 0.8)
}

.border-gray-400 {
  border-color: #9ca3af
}

.bg-\[rgba\(0_0_0_0\.5\)\] {
  background-color: rgba(0 0 0 0.5)
}

.bg-\[rgba\(0_0_0_0\.8\)\] {
  background-color: rgba(0 0 0 0.8)
}

.bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5)
}

.bg-gray-400 {
  background-color: #9ca3af
}

.bg-white {
  background-color: #fff
}

.p-1 {
  padding: 4px
}

.p-3 {
  padding: 12px
}

.p-5 {
  padding: 20px
}

.p-\[2px\] {
  padding: 2px
}

.p-\[6px\] {
  padding: 6px
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px
}

.text-white\/80 {
  color: rgb(255 255 255 / 0.8)
}

.opacity-0 {
  opacity: 0
}

.bold {
  -unity-font-style: bold
}

.duration-200 {
  transition-duration: 200ms
}

.translate-3 {
  translate: 12px
}

.translate-x-0 {
  translate: 0px 0
}

.translate-x-\[-10px\] {
  translate: -10px 0
}

.translate-x-\[32px\] {
  translate: 32px 0
}

.translate-y-1 {
  translate: 0 4px
}

.rotate-0 {
  rotate: 0deg
}

.rotate-\[45deg\] {
  rotate: 45deg
}

.default-bg-color {
  background-color: white
}

.accented-bg-color {
  background-color: #fde047
}

.default-text-color {
  color: #4b5563
}

.active-text-color {
  color: #cd8c06
}

.highlighted-text-color {
  color: #854d0e
}

.hover\:bg-white\/10:hover {
  background-color: rgb(255 255 255 / 0.1)
}

.hover\:hover-bg-color:hover {
  background-color: rgb(0 0 0 / 0.1)
}

.hover\:active-text-color:hover {
  color: #cd8c06
}
